/* 
    ===========
    PAGE LAYOUT
    ===========
*/

/* #f28a1b */

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  background-color: #cacaca1c;
}

#root {
  height: 100%;
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.page-header {
  display: flex;
  flex-grow: 3;
  max-height: 50px;
  margin-bottom: 0.5em;
  min-height: 3.5em;
}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  width: 100%;
}

.page-footer {
  display: flex;
  flex-grow: 3;
  max-height: 50px;
  margin-top: 0.5em;
}

/* 
    ===========
    COMPONENTS
    ===========
*/

.sign-in-page-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.google-logo {
  width: 25px;
  height: 25px;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px rgb(210, 210, 210) solid;
}

.link-as-button {
  background-color: transparent;
  color: black;
  padding: 1em 1.5em;
  padding-top: 1.75em;
  text-decoration: none;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sign-in-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;

  width: 100%;
  font-size: 1.5em;
  padding-bottom: 1em;
  font-weight: bold;
}

.welcome-title {
  font-size: 2em;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 35%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.calculator-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 250px;
  height: 30px;

  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.calculator-row.highlight {
  border: solid 1px lightgrey;
  box-shadow: 1px 1px 1px lightgrey;
}

.calculator-input {
  padding: 8px;
  display: flex;

  font-size: 16px;
  font-family: times;

  text-align: right;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 50%;
}

.calculator-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  padding-top: 1em;
}

.summary-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 17%;
  padding-top: 1em;
}

.calculator-button {
  background-color: #f28a1b; /* Green */
  border: none;
  color: black;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.calculator-button.reset {
  background-color: #e7e7e7;
  color: black;
}
